.game-result-container {
  margin-top: 4rem;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 1rem;
  position: relative;
  text-transform: uppercase;
  min-height: 24rem;
}

.game-result-container .icon-container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: none;
  margin: 0 auto;
}

.player-container,
.computer-container {
  min-width: 9rem;
}

.picked-choice-text {
  font-weight: 500;
}

.counter {
  height: 7rem;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0 auto;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  /* top: 100%; */
  top: 10rem;
  margin-top: 2rem;
  font-weight: 700;
  font-size: 3.7rem;
  letter-spacing: 1px;
  width: 100%;
  align-items: center;
}

.play-again-btn {
  padding: 0.6rem 1rem;
  border-radius: 8px;
  font-size: 1.5rem;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.3px;
  min-width: 13rem;
}

@media (hover) {
  .play-again-btn:hover {
    color: red;
  }
}
