.rules-btn {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  color: rgb(241, 242, 252);
  padding: 0.5rem 2rem;
  border-radius: 8px;
  border: 1px solid rgb(223, 226, 255);
  letter-spacing: 2.5px;
  font-size: 1.1rem;
  font-weight: 500;
}

@media (hover) {
  .rules-btn:hover {
    color: #131727;
    background-color: rgb(243, 243, 243);
  }
}
