* {
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

img {
  display: block;
}

button {
  border: none;
  cursor: pointer;
}

.App {
  text-align: center;
  background-image: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  color: white;
  height: 100vh;
  min-height: 38rem;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
